*{
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
/*nav*/
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
nav a{
    text-decoration: none;
    display: inline-block;
    color: blue;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
nav a:hover{
    transform: scale(1.03);
    text-decoration: underline;
}
/*main*/
main{
    margin: 0;
}
#links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}
.link-box{
    height: 400px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#links a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
@media only screen and (max-width: 768px){
    #links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 425px){
    #links{
        display: flex;
        flex-direction: column;
    }
}
.link-box.apod{
    background-image: url(/img/apod.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}
.link-box.apod:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(82, 119, 230, 0.9);
}
.link-box.spacex{
    background-image: url(/img/spacex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}
.link-box.spacex:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(82, 119, 230, 0.9);
}
.link-box.mars{
    background-image: url(/img/mars-rover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   transition: transform 0.3s ease-in-out;
}
.link-box.mars:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(82, 119, 230, 0.9);
}
.link-box.iss{
    background-image: url(/img/iss.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.4s ease-in-out;
}
.link-box.iss:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(82, 119, 230, 0.9);
}
section
/*footer*/
footer{
    padding: 10px;
}